body{
    margin: 30px;
    font-family:'Dosis', sans-serif ;
}
.page_1{
    width: 100%;
    /* height: 100vh; */
}
.homePage{
    position: relative;
    width: 100%;
    height: 620px;
    padding-top: 30px;
    background-image: linear-gradient(to right, #CBCBD4, #ceccd712), url(images/slide-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}
header{
    display: flex;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 30px;
}
header a{
    text-decoration: none;
    background-color: #E47312;
    padding: 42px 35px;
}
header a img{
    width: 90px;
    height: 20px;
}
header nav{
    display: flex;
    justify-content: right;
    padding-right: 0%;
    background-color: white;
    height: 90px;
    width: 100%;
}
header nav a{
    text-decoration: none;
    margin-bottom: 0%;
    color: black;
    font-size: 12px;
    font-weight: 700;
    padding: 30px 20px;
    background-color: white;
}
/*
header nav a::after{
    content: '';
    margin-right: 8px;
    width: 2px;
    height: 45px;
    margin-top: 0%;
    background-color:#E47312 ;
    transform: scaleY(0);
    transition: transform 1s;
    transform-origin: bottom;
    position: absolute;
}
header nav a::before{
    content: '';
    width: 2px;
    height: 45px;
    margin-left: 15px;
    background-color:#E47312 ;
    transform: scaleY(0);
    transition: transform 1s;
    transform-origin:top;
    position: absolute;
}
header nav a:hover::after{
    transform: scaleY(1);
}
header nav a:hover::before{
    transform: scaleY(1);
} */
header nav a:hover{
    color: #E47312;
}
#active{
    color: #E47312;
}
#page{
    padding-top:28px;
}
header nav a img{
    height: 7px;
   /* padding: 2px; */
    padding-top: 0%;
}
nav #button{
    padding:  40px;
    font-size: 12px;
    margin-top: 0%;
    margin-right: 0;
    margin-bottom: 0%;
    font-weight: 700;
    border: none;
    background-color: #E47312;
    margin-left: 10px;
    color: white;
}
nav #button:hover{
    color: white;
    background-color: #e6ab78;
}
.content{
    margin: 8%;
    margin-top: 4%;
    font-family:'Dosis', sans-serif ;
    width: 46%;
}
.content h1{
    color: #FFFFFF;
    font-size:62px ;
    letter-spacing: 1px;
    padding: 0%;
    margin: 0%;
    font-weight:600;
    cursor: pointer;
}
.content p{
    color: white;
    font-size:20px ;
    padding: 0%;
    margin-top: 3%;
    cursor: pointer;
    letter-spacing: 0;
}
.content button{
    padding:20px ;
    font-size: 12px;
    color: white;
    width: 22%;
    background-color: #E47312;
    border: none;
    font-family:'Dosis', sans-serif ;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}
/* .content button:hover,.content h1:hover,.content p:hover{
    text-decoration: underline;
    color: #FFFFFF;
} */
.media_icons{
    position: absolute;
    right: 0;
    top: 260px;
}
.media_icons a{
    text-decoration: none;
   display: flex;
   flex-direction: column;
}

.media_icons img{
    height: 22px;
    width: 20px;
    background-color: black;
    padding: 15px;
    border-bottom:0.2px solid #ddd6d6;
    /* margin: 20px; */
}
.information{
    position:absolute;
    right: 0;
    top: 465px;
    display: flex;
    margin-bottom: 28px;
    background:linear-gradient(to right,#e8954d, rgba(232, 57, 54, 0.979));
    width: 64%;
    justify-content: right;
}
.information ul{
    margin: 25px;
}
.information ul li{
    list-style-type: none;
    color: #ddd6d6;
    text-align: center;
    margin: 20px;
    font-size: 17px;
    padding: 0%;
}
.information ul li img{
    height: 22px;
    width: 22px;
}
#find_bold{
    font-weight: bold;
    color: #FFFFFF;
}
.information ul :nth-child(2){
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #FFFFFF;
}
.information ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.services{
 margin-top: 300px;
 display: flex;
 margin: 40px;
 padding-top: 60px;
}
.services_section{
    position: relative;
    width: 50%;
    padding-left: 50px;
}
.services_section h1{
    font-size: 80px;
    letter-spacing: 11px;
    line-height: 1px;
    color: #f1f1f1;
}
.services_section h3{
    font-size: 32px;
    letter-spacing: 1px;
    padding-left: 50px;
    position: absolute;
    height: 47px;
    top: 30px;
    left: 27px;
}
.view_service{
    width: 50%;
    text-align: right;
    padding-top: 48px;
    color: #919198;
    font-size: 13px;
    padding-right: 100px;
    letter-spacing: 1px;
    height: 20px;
}
.view_service:hover{
    text-decoration-line: underline;
    text-decoration-color: #E47312;
    text-decoration-thickness: 2PX;
    cursor: pointer;
}
.services_items{
    display: flex;
    flex-direction: row;
    margin: 120px;
    
}
.services_items img{
    height: 55px;
    width: 55px;
}
.services_items div{
    width: 28%;
    margin: 10PX;
    color: #919197;
    line-height: 25px;
    /* text-align: center; */
}
.services_items div h4{
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #121213;
}
.services_items div h5{
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #919198;
    padding-bottom: 5px;
}
.services_items div h5:hover{
    text-decoration-line: underline;
    text-decoration-color: #eb7004;
    text-decoration-thickness: 1.5px;
    cursor: pointer;   
}
.server_container{
    display: flex;
    justify-content: center; 
    align-items: center;

}
.server_container div{
    width: 50%;
    margin: 50px 50px 0px 80px;
}
.server_container img{
    height: 400px;
    width: 100%;
}
.about_server{
    width: 30%;
}
.about_heading{
    position: relative;
    
}
.about_heading h3{
    font-size: 80px;
    letter-spacing: 11px;
    line-height: 40px;
    color: #f1f1f1;
}
.about_heading h4{
    position: absolute;
    top: -25px;
    left: 20px;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #121213;
}
.about_server h6{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #919198;
}
.about_server h6:hover{
    text-decoration-line: underline;
    text-decoration-color: #eb7004;
    text-decoration-thickness: 2px;
    cursor: pointer;
}
.about_server p{
    font-size: 17px;
    line-height: 25px;
    color: #919197;
}
.employers_status{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
}
.employers_status div{
    width: 200px;
    margin: 50px;
}
.employers_status span{
    font-size: 60px;
    line-height: 70px;
    color: #E47312;
}
.employers_status p{
    font-size: 17px;
    line-height: 25px;
    color: #919197;
}
.projects{
    background-color:#F7F8FC ;
    padding-top: 0;
    
}
.project_flex{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    justify-items: center;
    align-items: center;
}
.project_headings{
    position: relative;
    width: auto;
}
.project_headings h1{
 font-size: 80px;
 line-height: 40px;
 letter-spacing: 11px;
 color: #F1F1F7;
}
.project_headings h6{
    position: absolute;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #121213;
    bottom: -30px;
    left: 10px;
}
.project_flex div p{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #919198;
}
.project_flex div p:hover{
    text-decoration-line: underline;
    text-decoration-color: #eb7004;
    text-decoration-thickness: 2px;
    cursor: pointer;
}
/* .project_left_space{
    margin-left: 90px;
    /* position: relative; */

.project_images{
    display: flex;
    flex-direction: row;
    padding-top: 0%;

    box-sizing: border-box;
}
.project_images img{
    height: 350px;
    width: 380px; 
    padding: 15px 15px;
    position: absolute;
    z-index: 1;
}
.project_images section img{
    position: relative;
    box-sizing: border-box;
   display: inline;

}
.photosOne {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 35px;
    box-sizing: border-box;
  }
   .photosOne section {
    display: inline;
    width: 32.3%;
    height: 380px;
    position: relative;
    box-sizing: border-box;
    
  }
  
   .photosOne section img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
  
  .photosOne section:hover div {
    display: flex;
    cursor: pointer;
  }
  
  .photosOne section div {
    display: none;
    border: 0px solid red;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(rgba(0, 0, 0, 0.297), rgba(0, 0, 0, 0.297));
  }
  
 .photosOne section div a {
    padding: 30px 22px;
    background-color: #E47312;
    color: white;
    border-radius: 55%;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
  }
.banner_bg_img{
    height: 250px;
    width: 100%;
    overflow: hidden;
    padding: auto;
    background-image: linear-gradient(72deg, #e8954d, rgba(232, 57, 54, 0.78)) ,url(images/banner-2.jpg);
    background-size: cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.banner_bg_img div{
    margin: 60px auto;
    height: 250px;
    text-align: center;
    justify-content: center;
    color:#FFFFFF ;
}
.banner_bg_img div h4{
    font-size: 32px;
    /* line-height: 40px; */
    letter-spacing: 1px;
    margin-bottom: 0;
    /* font-weight: 400; */
}
.banner_bg_img div p{
    font-size: 20px;
    /* line-height: 26px; */
    color: #dbdbdb;
   margin-top: 5px;
}
.banner_bg_img div h6{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #FFFFFF;
}
.banner_bg_img div h6:hover{
    text-decoration-line: underline;
    text-decoration-color:#FFFFFF;
    text-decoration-thickness: 2px;
    cursor: pointer;
}
.team_proffesionals{
 height: auto;
}
.team_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.team_headings{
 position: relative;
 width: 50%;
 margin-left: 50px;
}
.team_headings h1{
    font-size: 80px;
    letter-spacing: 11px;
    line-height: 40px;
    color: #F1F1F7;
}
.team_headings p{
    position: absolute;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 40px;
    bottom: 7px;
    left: 10px;
}
.about_team{
    width: 50%;
    text-align: right;
    margin-right: 50px;
}
.about_team h6{
    color: #919198;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
}
.about_team h6:hover{
    text-decoration-line: underline;
    text-decoration-color:#eb7004;
    text-decoration-thickness: 2px;
    cursor: pointer;
}


.team_members{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;
    height: auto;
}
.team_icon_flex{
    justify-content: center;
    align-items: center;
    width: 24%;
    /* height:20%; */
    /* border: 2px solid brown; */
    margin: 10px;
}
.d_flex{
    display: flex;
    position: relative;
}
.team_icon_flex img{
    width: 100%;
    height: 250px;
   
}
.author_name{
    width: 90%; 
    /* border: 2px solid navy; */
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    padding: 0px 30px 0px 30px;
}
.author_name h6{
    font-size: 17px;
    letter-spacing: 1px;
    color: #121213;
    padding-top: 0;
    padding-bottom: 0%;
}
.author_name p{
    font-size: 16px;
    color: #BDBDC9;
    padding-top: 0;
    padding-bottom: 0%;
}
.team_icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E47312;
    width: 45px; 
    position: absolute;
    bottom: 0;
    right: 0;
}
.team_icons img{
    width: 20px;
    height:25px;
    margin-bottom: 0%;
    padding: 12px; 
    border-bottom: 0.1px solid rgb(203, 199, 199);
}
.clients_block{
    background-color:#F7F8FC  ;
    height: auto;
    display: flex;
    margin-top: 30px;
    /* position: relative; */
}
.client_headings{
    width: 400px;
    margin: 65px;
    margin-left: 100px;
    /* border: 2px solid red; */
    position: relative;
   
}
.client_headings h1{
    font-size: 80px;
    line-height: 40px;
    letter-spacing: 11px;
    color: #F1F1F7;
}
.client_headings h6{
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #121213;
    position: absolute;
    top: 17px;
    left: 10px;
    /* font-weight: 600; */
}
.client_headings p{
    font-size: 17px;
    color: #919197;
}
.client_headings span{
    font-size: 13px;
    font-weight: 600;
    color: #818186;
    padding-bottom: 5px;
}
.client_headings span:hover{
    text-decoration-line: underline;
    text-decoration-color: #E47312;
    text-decoration-thickness: 2px;
    cursor: pointer;
}
.clients_colom{
    display: flex;
    flex-direction: column;   
    margin: 35px;
}
.colom_up{
    margin-top: 0%;
}
.colom_down{
    margin-top: 110px;
}
.clients_divs{
    background-color: #FFFFFF;
    position: relative;
    text-align: center;
    width: 90%;
    padding: 10px;
    margin: 40px;
}
.clients_divs div{
    height: 60px;
    width: 60px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    text-align: center;
    background-color: #E47312;
    position: absolute;
    top: -40px;
    left: 35%;
    margin-bottom: 0%;
}
.clients_divs h3{
    height: 60px;
    width: 60px;
    font-size: 80px;
    color: #FFFFFF;
    align-items: center;
    position: absolute;
    top: -70px;
    left: 10px  
}
#client_name{
    font-size: 15px;
    color: #121213;
    font-weight: 500;
}
#client_designtn{
    font-size: 16px;
    color: #BDBDC9;
    font-weight: 500;
}
#client_para{
    font-size: 17px;
    color: #919197;
}
.clients_row{
    display: flex;
    margin: 10px;
}
.blogs_page{
    height: 100vh;
    background-color: white;
    margin: 10%;
    margin-top: 3%;
}
.blogs_header{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    position: relative;
    /* border: 2px solid red; */
}
.blogs_titles h1{
 font-size: 80px;
 color:#F1F1F7 ;
 line-height: 40px;
 letter-spacing: 11px;
 
}
.blogs_titles h6{
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #121213;
    position: absolute;
    top: 13px;
    left: 10px;
}
.view_btn{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #919198;
}
.view_btn:hover{
    text-decoration-line: underline;
    text-decoration-color: #E47312;
    text-decoration-thickness: 2px;
    cursor: pointer;   
}
.blog_posts{
    display: flex;
    margin: 50px;   
}
.blog_posts div{
    width: 30%;
    justify-content: center;
    align-items: center;
    /* background:linear-gradient(to bottom,#e8954d, rgba(232, 57, 54, 0.78)); */
}
.blog_img_details{
    background:linear-gradient(to bottom,#e8954d, rgba(232, 57, 54, 0.78));
    position: relative;
    margin: 10px;
}
.blog_img_details img{
    height: 300%;
    width: 333%;
}
.blog_img_details h5{
    font-size: 19px;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding-left: 50px;
}
.blog_img_details p{
    font-size: 17px;
    color: #f8f5f5e4;
    padding-left: 50px;
}
.blog_img_details h6{
    font-size: 13px;
    letter-spacing: 1px;
    color: #FFFFFF;
    line-height: 20px;
    padding-left: 50px;
    text-decoration-line: underline;
    text-decoration-color: #f8f5f5a7;
    text-decoration-thickness: 1.5px;
}
.blog_img_details h6:hover{
    text-decoration-line: underline;
    text-decoration-color: #FFFFFF;
    text-decoration-thickness: 2px;
    cursor: pointer;
}
.blog_date{
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.blog_date h6{
    font-size: 26px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 20px;
    margin: 0%;
    text-align: center;
    text-decoration: none;
    background-color: #E47312;
}
.blog_date p{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 2px;
    margin-top: 0;
    color: #9D9DA5;
    padding: 10px;
    text-align: center;
    background-color: white;
}
.logos_section{
    padding-top: 0%;
    margin-top: 0;
    margin-bottom: 0%;
    padding-bottom: 0%;
    /* display: block; */
}
.logos_header{
    width: 100%;
    display: flex;
    padding-bottom: 0%;
    /* position: relative; */
    background:linear-gradient(to right,#d28038, rgba(232, 57, 54, 0.78));
}
.logos_header {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    /* position: relative; */
    /* border: 2px solid red; */

}
.logos_header div h5{
    font-size: 17px;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
}
.logo_items img{
    height: 60px;
    width: 100px;
    margin: 20px;
    padding: 15px;
}
.logo_items a{
    text-decoration: none;
}
.logo_details{
    margin-left: 90px;
    margin-right: 90px;
    background-color:#0A1229 ;
}
.logo_details_row{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.logo_details_row div{
    width: 25%;
    margin: 30px;
    justify-content: space-evenly;
}
.logo_details_row h5{
    font-size: 18px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-top: 0%;
    margin-bottom: 20px;
    /* border: 2px solid white; */
    position: relative;   
}
.logo_details_row h5::after{
    content: "";
    display:block;
    height: 1.5px;
    width: 115px;
    position: relative;
    top:-10px;
    margin-left: 109px;
    right: 0;
    background:#E47312 ;
} 
#map_underline:hover{
    text-decoration-line: underline;
    text-decoration-color: #FFFFFF;
    text-decoration-thickness: 2px;
    cursor: pointer;
}
.logo_details_row p{
    font-size: 17px;
    color: #dadae3d5;
}
.logo_details_row h6{
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin: 0%;
}
#h6_margin{
    margin-bottom: 15px;
}
#h6_margin:hover{
    text-decoration-line: underline;
    text-decoration-color: #FFFFFF;
    text-decoration-thickness: 2px;
    cursor: pointer;
}
.logo_details_row h6 img{
    height: 20px;
    width: 20px;
    padding: 0px 5px 0px 0px;
    margin-right: 4px;
    margin-top: 0;
    margin-bottom: 0%;
}
#contact{
    margin-left: 30px;
    color: #a8a8acd5;
    margin-top: 0%;
}
 .bottom_div{
    background-color: #E47312;
    padding: 40px 35px 40px 35px;
    width: 110px;
    margin-left: 80px;
}
.bottom_div img{
    width: 100px;
    height: 30px;
}

